:root {
	/* main color */
	--main-color: #13c0a2;
	--text-main: #212121;
	--heading-color: #212121;

	/* header color */
	--bg-header-color: #fff;
	--text-header-color:  #333;
	--hover-text-header-color: var(--main-color);
	--icon-header-color: #41535d;
	--hover-icon-header-color: var(--main-color);
	--border-header-color:  #333;
	--bg-submenu-color: #41535d;
	--text-submenu-color: #41535d;
	--hover-text-submenu-color: var(--main-color);
	--border-submenu-color: #f1f1f1;

	/*body style*/
	--body-font_family: "Open Sans", sans-serif;
	--body-font_size: 17px;
	/*main style h1*/
	--heading_1-font_family: 'Montserrat', sans-serif;
	--heading_1-font_size: 1.99995214em;
	--heading_1-font_style: normal;
	--heading_1-font_weight: 500;
	--heading_1-line_height: 1.2;
	/*main style h2*/
	--heading_2-font_family: 'Montserrat', sans-serif;
	--heading_2-font_size: 1.68176264em;
	--heading_2-font_style: normal;
	--heading_2-font_weight: 500;
	--heading_2-line_height: 1.2;
	/*main style h3*/
	--heading_3-font_family: 'Montserrat', sans-serif;
	--heading_3-font_size: 1.41419664em;
	--heading_3-font_style: normal;
	--heading_3-font_weight: 500;
	--heading_3-line_height: 1.2;
	/*main style h4*/
	--heading_4-font_family: 'Montserrat', sans-serif;
	--heading_4-font_size: 1.1892em;
	--heading_4-font_style: normal;
	--heading_4-font_weight: 500;
	--heading_4-line_height: 1.2;
	/*main style h5*/
	--heading_5-font_family: 'Montserrat', sans-serif;
	--heading_5-font_size: 1em;
	--heading_5-font_style: normal;
	--heading_5-font_weight: 500;
	--heading_5-line_height: 1.2;
	/*main style h6*/
	--heading_6-font_family: 'Montserrat', sans-serif;
	--heading_6-font_size: 0.84090145em;
	--heading_6-font_style: normal;
	--heading_6-font_weight: 500;
	--heading_6-line_height: 1.2;

}
.editor-block-list__block-edit {
	color: var(--text-main);
	font-family: var(--body-font_family);
	font-size: var(--body-font_size);
	font-style: var(--body-font_style);
	font-weight: var(--body-font_weight);
	line-height: var(--body-line_height);
	letter-spacing: var(--body-letter_spacing);
	text-transform: var(--body-text_transform);
}
.editor-block-list__block-edit h1 {
	color: var(--heading-color);
	font-family: var(--heading_1-font_family);
	font-size: var(--heading_1-font_size);
	font-style: var(--heading_1-font_style);
	font-weight: var(--heading_1-font_weight);
	line-height: var(--heading_1-line_height);
	letter-spacing: var(--heading_1-letter_spacing);
	text-transform: var(--heading_1-text_transform);
}
.editor-block-list__block-edit h2 {
	color: var(--heading-color);
	font-family: var(--heading_2-font_family);
	font-size: var(--heading_2-font_size);
	font-style: var(--heading_2-font_style);
	font-weight: var(--heading_2-font_weight);
	line-height: var(--heading_2-line_height);
	letter-spacing: var(--heading_2-letter_spacing);
	text-transform: var(--heading_2-text_transform);
}
.editor-block-list__block-edit h3 {
	color: var(--heading-color);
	font-family: var(--heading_3-font_family);
	font-size: var(--heading_3-font_size);
	font-style: var(--heading_3-font_style);
	font-weight: var(--heading_3-font_weight);
	line-height: var(--heading_3-line_height);
	letter-spacing: var(--heading_3-letter_spacing);
	text-transform: var(--heading_3-text_transform);
}
.editor-block-list__block-edit h4 {
	color: var(--heading-color);
	font-family: var(--heading_4-font_family);
	font-size: var(--heading_4-font_size);
	font-style: var(--heading_4-font_style);
	font-weight: var(--heading_4-font_weight);
	line-height: var(--heading_4-line_height);
	letter-spacing: var(--heading_4-letter_spacing);
	text-transform: var(--heading_4-text_transform);
}
.editor-block-list__block-edit h5 {
	color: var(--heading-color);
	font-family: var(--heading_5-font_family);
	font-size: var(--heading_5-font_size);
	font-style: var(--heading_5-font_style);
	font-weight: var(--heading_5-font_weight);
	line-height: var(--heading_5-line_height);
	letter-spacing: var(--heading_5-letter_spacing);
	text-transform: var(--heading_5-text_transform);
}
.editor-block-list__block-edit h6 {
	color: var(--heading-color);
	font-family: var(--heading_6-font_family);
	font-size: var(--heading_6-font_size);
	font-style: var(--heading_6-font_style);
	font-weight: var(--heading_6-font_weight);
	line-height: var(--heading_6-line_height);
	letter-spacing: var(--heading_6-letter_spacing);
	text-transform: var(--heading_6-text_transform);
}
.editor-block-list__block-edit p {
	font-size: var(--body-font_size);
	font-family: var(--body-font_family);
}
pre.block-editor-rich-text__editable.editor-rich-text__editable {
	padding: 0.7em 1.2em;
	background: #333;
	color: #eee;
	margin: 0 0 10px;
	font-size: 0.84090145em;
	line-height: 1.42857143;
	word-wrap: break-word;
	border: 1px solid #ccc;
	white-space: nowrap!important;
	overflow: auto;
}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots),
hr.wp-block-separator {
	max-width: 50%;
	height: 4px;
	background: #eee;
	border: 0;
	clear: both;
}
.wp-block-table td, .wp-block-table th {
	padding: 0.5em 1.2em;
	border: none;
	font-size: 0.875em;
	line-height: 2;
}
tr:nth-child(even) {
	background: #f3f3f3;
}
tr {
	border-bottom: 1px solid #ddd;
}
.block-editor-rich-text__editable.editor-rich-text__editable.wp-block-table__cell-content {
	padding: 0px;
}
.editor-block-list__block-edit.block-editor-block-list__block-edit a {
	text-decoration: none;
	color: var(--main-color);
}
.editor-block-list__block-edit.block-editor-block-list__block-edit a:hover {
	text-decoration: underline;
}
blockquote,
.wp-block-quote,
.wp-block-pullquote,
.wp-block-quote.is-large {
	border: none;
	padding: 0;
	text-align: left;
	margin: 0;
	color: #888;
	font-size: 1.1892em;
	font-style: italic;
}
blockquote:before,
blockquote:after {
	display: block;
	content: '';
	position: relative;
	width: 2em;
	border-top: 2px solid #eee;
	margin: 1em auto;
}
.wp-block-pullquote.aligncenter p,
.wp-block-quote.is-large p,
figure.wp-block-pullquote.alignfull p,
figure.wp-block-pullquote.alignleft p,
figure.wp-block-pullquote.alignright p {
	font-size: 20.2164px;
}
.wp-block-quote__citation,
.block-editor-rich-text__editable.editor-rich-text__editable.wp-block-pullquote__citation {
	display: block;
	margin-top: 0.5em;
	font-size: 14.2953px;
	font-style: normal;
	text-transform: uppercase;
	color: #888;
}
.wp-block-quote.is-large p,
.wp-block-pullquote blockquote>.block-editor-rich-text p,
.block-editor-block-list__block[data-type="core/pullquote"][data-align=left] .block-editor-rich-text p,
.block-editor-block-list__block[data-type="core/pullquote"][data-align=right] .block-editor-rich-text p{
	font-size: 20.2164px;
}
.block-editor-block-list__layout .block-editor-block-list__block[data-align=left] .block-editor-block-list__block-edit,
.block-editor-block-list__layout .block-editor-block-list__block[data-align=right]>.block-editor-block-list__block-edit {
	width: 305px;
}
.wp-block-categories {
	text-align: left;
}
.block-editor-rich-text__editable.editor-rich-text__editable.wp-block-button__link {
	padding: 0 1.4em;
	margin: 0;
	border-radius: 3px;
	border: 1px solid var(--main-color);
	background: var(--main-color);
	color: #fff;
	font-size: .84090145em;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	transition: all .3s;
	display: inline-block;
}
.block-editor-rich-text__editable.editor-rich-text__editable.wp-block-button__link:hover {
	background: #109d85;
	border-color: #109d85;
	color: #fff;
	text-decoration: none;
}
.wp-block-button.is-style-outline .block-editor-rich-text__editable.editor-rich-text__editable.wp-block-button__link {
	background: 0 0;
	border-color: rgba(0,0,0,.3);
	color: #666;
	transition: all .3s;
	border-radius: 3px;
	border: 1px solid #13c0a2;
}
.wp-block-button.is-style-outline .block-editor-rich-text__editable.editor-rich-text__editable.wp-block-button__link:hover {
	background: var(--main-color);
	border: 1px solid var(--main-color);
	color: #fff;
}
.wp-block.editor-post-title__block textarea {
	text-transform: uppercase;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	line-height: 1.2;
}
